.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Update this class for the logo image */
.App-icon {
  height: 100px; /* You can adjust this size as needed */
  width: auto;
  margin-bottom: 20px;
}

/* Change background to match logo color */
.App-header {
  background-color: #8b51ff; /* Your logo color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-links {
  margin-top: 20px;
}

.App-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
}

.App-link:hover {
  color: #dcdcdc;
}

.Privacy, .TOS {
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 8px;
}

.Privacy h2, .TOS h2 {
  color: #333;
}

.top-right-links {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
  z-index: 100;
}

.content-box {
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 20px;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  text-align: left;
}

.purple-text-button {
  background-color: white;
  color: #8b51ff; /* Purple text */
  border: 1px solid #a855f7;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.purple-text-button:hover {
  background-color: #f3e8ff; /* Light purple background on hover */
}
